/************* General resets *************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid green;
}

a {
	text-decoration: none;
	color: #17a2b8;
}

ul {
	list-style-type: none;
}

main {
	display: block !important;
}

html {
	scroll-behavior: smooth;
}

body * {
	transition: 0.3s;
}
